@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>
<p>@ViewData["Aluno"]
    <address>
        <strong>More information: </strong> <a href="https://github.com/luc4sGabriel" target="_blank">Github</a>
    </address>
</p>



